.footer-wrapper {
	color: white;
}

footer {
	
}
footer a img {
	max-width: 45px;
}
.footer-link-container {
	text-align: center;
}
.social-links-1{
	text-align: center;
}
.social-links-1 a {
	padding-right: 10px;
}
#acm-footer-img {
	width: 100px;
}
#vit-footer-img {
	width: 100px;
	position: relative;
	top: 10px;
	right: 20px;
}

@media (min-width: 28em) {
	/* Styles for 28em and up here */
	#acm-footer-img {
		width: 200px;
	}
	#vit-footer-img {
		width: 200px !important;
		top: 20px;	
	}

}

